footer{
    background-color: var(--blue-dark);
    color: var(--white);
    font-size: var(--mt);
    padding: 10px 0;
   }
.footer-header{
    font-size: 4.8rem;
}
.navbar-brand{
    font-weight: bold;
    font-size: var(--xbt);
    color: var(--white);
}