<footer class="text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 g-5">
        <div class="row container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="/Logo.png" 
              class="me-2"
              height="40"
              alt="Logo"
            />
            <small>ProHelp</small>
          </a>
        </div>
               <p>
          Mantente al día con nuestras últimas novedades, consejos útiles y actualizaciones. Conéctate con nosotros en
          nuestras redes sociales y únete a nuestra comunidad.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="footer-header">¿Listo para Transformar tu Gestión de Tickets?</h5>

        <p>
          Contáctanos hoy para descubrir cómo ProHelpDesk puede optimizar tu soporte y mejorar la eficiencia de tu empresa. Estamos aquí para ayudarte a dar el siguiente paso hacia una gestión más efectiva
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
</footer>