<navbar></navbar>
<div class="container "> 
<div class=" hero row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Optimiza tu Soporte y Satisface a tus clientes</h1>
        <p> En ProHelpDesk, transformamos la gestión de tickets en una ventaja competitiva. Nuestra plataforma no solo te ayuda a resolver problemas rápidamente, sino que también mejora la experiencia de tus clientes, convirtiendo cada interacción en una oportunidad para fidelizarlos.</p>
    </div>
</div>
</div>
<app-footer></app-footer>