<navbar></navbar>

<!-- Hero Section: Sección principal de la página con llamada a la acción -->
<section class="hero">
  <div class="container-fluid px-5 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <!-- Imagen destacada al lado derecho en pantallas grandes -->
      <div class="col-lg-6">
        <img
          src="/Hero.png"
          alt="Imagen de presentación de ProHelp"
          class="d-block mx-lg-auto img-fluid"
        />
      </div>

      <!-- Contenido del hero: encabezado, descripción y botón de llamada a la acción -->
      <div class="col-10 col-sm-8 col-lg-6">
        <h2 class="hero-header lh-1 mb-3">
          Optimiza tu Soporte y Satisface a tus Clientes
        </h2>
        <p class="hero-copy">
          En ProHelpDesk, transformamos la gestión de tickets en una ventaja
          competitiva. Nuestra plataforma no solo te ayuda a resolver problemas
          rápidamente, sino que también mejora la experiencia de tus clientes,
          convirtiendo cada interacción en una oportunidad para fidelizarlos.
        </p>
        <button class="btn btn-primary btn-lg" [routerLink]="['/contact-us']">Contáctanos Ahora</button>
      </div>
    </div>
  </div>
</section>
<!-- /Hero Section -->

<!-- Featured Section: Sección destacada con tarjetas informativas -->
<section class="featured-section">
  <div class="container-fluid px-5">
    <div class="row">
      <!-- Encabezado de la sección destacada -->
      <div class="col-md-12 text-center mt-5">
        <h2 class="featured-header m-auto">
          Diseñado para ayudar al líder de soluciones
        </h2>
      </div>

      <!-- Tarjetas informativas que destacan características de ProHelp -->
      <div class="row g-5">
        <!-- Primera tarjeta: Gestión centralizada de tickets -->
        <div class="col-md-4">
          <app-card
            icon="/Icon.png"
            title="Gestión centralizada de tickets"
            description="Ofrece una plataforma unificada donde los usuarios pueden crear, asignar y rastrear tickets en un solo lugar. Esta funcionalidad simplifica la supervisión de todas las solicitudes, asegurando que cada incidencia sea manejada de manera oportuna."
          ></app-card>
        </div>

        <!-- Segunda tarjeta: Automatización de tareas repetitivas -->
        <div class="col-md-4">
          <app-card
            icon="/Icon.png"
            title="Automatización de Tareas Repetitivas"
            description="ProHelpDesk puede automatizar tareas comunes, como la asignación de tickets a técnicos específicos o el envío de recordatorios y notificaciones. Esto no solo ahorra tiempo, sino que también reduce el riesgo de errores humanos y garantiza una mayor eficiencia operativa."
          ></app-card>
        </div>

        <!-- Tercera tarjeta: Análisis e informes detallados -->
        <div class="col-md-4">
          <app-card
            icon="/Icon.png"
            title="Análisis e Informes Detallados"
            description="ProHelpDesk incluye herramientas avanzadas de análisis que permiten generar informes detallados sobre el rendimiento del equipo, tiempos de resolución y tendencias de incidencias. Esto ayuda a identificar áreas de mejora y a tomar decisiones basadas en datos."
          ></app-card>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Featured Section -->

<!-- Testimonios Section: Sección de testimonios de clientes -->
<section class="testimonios">
  <div class="container-fluid px-5 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <!-- Texto de introducción a los testimonios -->
      <div class="col-md-4">
        <h3 class="testimonios-text">Historias de Éxito con ProHelp</h3>
        <p>
          Lee cómo ProHelp ha optimizado la gestión de tickets y mejorado la
          eficiencia en las empresas.
        </p>
      </div>

      <!-- Testimonio destacado con imagen y texto -->
      <div class="col-md-8 text-center text-lg-start">
        <div class="card-body">
          <p class="card-text">
            "ProHelp ha transformado nuestra gestión de tickets. Es fácil de usar,
            y la automatización de tareas nos ha ahorrado tiempo, lo que ha
            mejorado nuestra eficiencia y la satisfacción de nuestros usuarios."
          </p>
          <div class="d-flex align-items-center pt-2">
            <img src="/Testimonial.png" alt="Foto de Jane Doe" class="mx-3">
            <div>
              <h5 class="card-title fw-bold">Jane Doe</h5>
              <span class="text-secondary">CEO, Example Company</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Testimonios Section -->

<!-- Pie de página -->
<app-footer></app-footer>
