<navbar></navbar>
<!-- about us -->
<section class="conocenos">
  <div class="container-fluid">
    <div
      class="row flex-lg-row-reverse align-items-center bg-light mx-auto p-5"
    >
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <img src="/aboutus.png" alt="" class="w-100" />
        </div>
      </div>
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <p class="">About us</p>
        </div>
        <div class="lc-block mb-4">
          <h1 class="rfs-30 fw-bold">Conoce a ProHelp</h1>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            En ProHelp, nos especializamos en ofrecer soluciones de gestión de
            tickets que optimizan el soporte técnico y mejoran la eficiencia de
            las empresas. Nuestro compromiso es proporcionar una plataforma
            intuitiva y efectiva que facilite la resolución de incidencias.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /about us -->
<section class="mision">
  <div class="container-fluid">
    <div class="row flex-lg-row-reverse align-items-center mx-auto p-5">
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <h3 class="rfs-30 fw-bold">La misión de ProHelp</h3>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Nuestra misión es ofrecer una plataforma de gestión de tickets que
            impulse la eficiencia y satisfacción del usuario. Valoramos la
            innovación, la integridad, y el compromiso con el cliente en todo lo
            que hacemos
          </p>
        </div>
      </div>
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <h3 class="rfs-30 fw-bold">La visión de ProHelp</h3>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Nuestra visión es revolucionar la gestión de soporte técnico,
            convirtiéndonos en el estándar de excelencia en la industria.
            Queremos capacitar a las empresas con soluciones innovadoras que
            optimicen sus procesos y mejoren la satisfacción de los usuarios
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center mx-auto px-5">
      <img src="/myv.png" alt="" class="img-fluid" />
    </div>
  </div>
</section>
<section class="valores">
  <div class="container-fluid">
    <div class="col-md-12 text-center flex align-items-center">
        <h2 class="valores-header m-auto">
          Diseñado para ayudar al lider de soluciones.
        </h2>
      </div>
    <div
      class="row flex-lg-row-reverse align-items-center  mx-auto p-5"
    >
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <img src="/innovacion.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <h1 class="rfs-30 fw-bold">Innovación</h1>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Nos esforzamos por estar a la vanguardia de la tecnología y las
            soluciones de soporte. Innovar constantemente es clave para
            ofrecerte herramientas que se adapten a tus necesidades y superen
            tus expectativas.
          </p>
        </div>
      </div>
    </div>
    <div
      class="row flex-lg-row-reverse align-items-center bg-light mx-auto p-5"
    >
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <h1 class="rfs-30 fw-bold">Colaboración</h1>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Creemos en el poder del trabajo en equipo, tanto dentro de nuestra
            empresa como con nuestros clientes. Fomentamos un entorno
            colaborativo para lograr soluciones más efectivas y alcanzar
            objetivos comunes.
          </p>
        </div>
      </div>
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <img src="/colaboracion.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
    <div
      class="row flex-lg-row-reverse align-items-center bg-light mx-auto p-5"
    >
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <img src="/sostenibilidad.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <h1 class="rfs-30 fw-bold">Sostenibilidad</h1>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Estamos comprometidos con prácticas responsables que minimicen
            nuestro impacto ambiental. Trabajamos para crear soluciones que sean
            sostenibles y beneficien tanto a las empresas como a la comunidad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
