<navbar></navbar>
<!-- Sección de Acerca de nosotros -->
<section class="conocenos">
  <div class="container-fluid">
    <div class="row flex-lg-row-reverse align-items-center bg-light mx-auto p-5">
      <!-- Imagen de la sección -->
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <img src="/aboutus.png" alt="Imagen de la sección" class="w-100" />
        </div>
      </div>
      <!-- Contenido de la sección -->
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <p class="">Acerca de nosotros</p>
        </div>
        <div class="lc-block mb-4">
          <h1 class="rfs-30 fw-bold">Conoce a ProHelp</h1>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            En ProHelp, nos especializamos en ofrecer soluciones de gestión de tickets que optimizan el soporte técnico y mejoran la eficiencia de las empresas. Nuestro compromiso es proporcionar una plataforma intuitiva y efectiva que facilite la resolución de incidencias.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Sección de Acerca de nosotros -->

<!-- Sección de Misión y Visión -->
<section class="mision">
  <div class="container-fluid">
    <div class="row flex-lg-row-reverse align-items-center mx-auto p-5">
      <!-- Misión -->
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <h3 class="rfs-30 fw-bold">La misión de ProHelp</h3>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Nuestra misión es ofrecer una plataforma de gestión de tickets que impulse la eficiencia y satisfacción del usuario. Valoramos la innovación, la integridad, y el compromiso con el cliente en todo lo que hacemos
          </p>
        </div>
      </div>
      <!-- Visión -->
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <h3 class="rfs-30 fw-bold">La visión de ProHelp</h3>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Nuestra visión es revolucionar la gestión de soporte técnico, convirtiéndonos en el estándar de excelencia en la industria. Queremos capacitar a las empresas con soluciones innovadoras que optimicen sus procesos y mejoren la satisfacción de los usuarios
          </p>
        </div>
      </div>
    </div>
    <!-- Imagen de la sección -->
    <div class="row align-items-center mx-auto px-5">
      <img src="/myv.png" alt="Imagen de la sección" class="img-fluid" />
    </div>
  </div>
</section>
<!-- /Sección de Misión y Visión -->

<!-- Sección de Valores -->
<section class="valores">
  <div class="container-fluid">
    <!-- Título de la sección -->
    <div class="col-md-12 text-center flex align-items-center">
      <h2 class="valores-header m-auto">
        Diseñado para ayudar al líder de soluciones.
      </h2>
    </div>
    <!-- Valores -->
     <!-- Sección de Innovación -->
    <div
      class="row flex-lg-row-reverse align-items-center  mx-auto p-5"
    >
    <!-- Imagen de innovación -->
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <img src="/innovacion.png" alt="Imagen de innovacion" class="img-fluid" />
        </div>
      </div>
      <!-- Contenido de innovación -->
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <h1 class="rfs-30 fw-bold">Innovación</h1>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Nos esforzamos por estar a la vanguardia de la tecnología y las
            soluciones de soporte. Innovar constantemente es clave para
            ofrecerte herramientas que se adapten a tus necesidades y superen
            tus expectativas.
          </p>
        </div>
      </div>
    </div>
    <!-- Sección de Colaboracion -->
    <div
      class="row flex-lg-row-reverse align-items-center mx-auto p-5"
    >
    <!-- Contenido de colaboración -->
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <h1 class="rfs-30 fw-bold">Colaboración</h1>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Creemos en el poder del trabajo en equipo, tanto dentro de nuestra
            empresa como con nuestros clientes. Fomentamos un entorno
            colaborativo para lograr soluciones más efectivas y alcanzar
            objetivos comunes.
          </p>
        </div>
      </div>
      <!-- Imagen de colaboración -->
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <img src="/colaboracion.png" alt="Imagen de colaboracion" class="img-fluid" />
        </div>
      </div>
    </div>
    <!-- Sección de sostenibilidad -->
    <div
      class="row flex-lg-row-reverse align-items-center mx-auto p-5"
    >
    <!-- Imagen de sosteninilidad -->
      <div class="col-lg-5 ms-lg-4">
        <div class="lc-block mb-4">
          <img src="/sostenibilidad.png" alt="Imagen de sostenibilidad" class="img-fluid" />
        </div>
      </div>
      <!-- Contenido de sostenibilidad -->
      <div class="col-lg-6 ps-lg-4">
        <div class="lc-block mb-4">
          <h1 class="rfs-30 fw-bold">Sostenibilidad</h1>
        </div>
        <div class="lc-block mb-4">
          <p class="lead">
            Estamos comprometidos con prácticas responsables que minimicen
            nuestro impacto ambiental. Trabajamos para crear soluciones que sean
            sostenibles y beneficien tanto a las empresas como a la comunidad.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /Sección de Valores -->
</section>
<!-- Componente del pie de página de la aplicación -->
<app-footer></app-footer>
