<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
<!-- logo -->
    <a class="navbar-brand" href="#">
      <img
        src="/Logo.png" 
        class="me-2"
        height="40"
        alt="Logo"
      />
      <small>ProHelp</small>
    </a>
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <i class="bi bi-menu-up burger"></i>
    </button>
<!-- Collapsible wrapper -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- Left links -->
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/about-us']" [routerLinkActive]="['is-active']">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/contact-us']" [routerLinkActive]="['is-active']">Contacto</a>
    </li>
    <li class="nav-item">
      <a data-mdb-ripple-init type="button" [routerLink]="['/registro']" class="btn btn-secondary me-3">
        Registro
      </a>
    </li>
    <li class="nav-item">
      <a data-mdb-ripple-init type="button" [routerLink]="['/login']" class="btn btn-primary me-3">
        Login
      </a>
    </li>
  </ul>
  <!-- Left links -->
</div>
<!-- Collapsible wrapper -->
   
    
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->